<%#= javascript_include_tag plugin_asset("my_file.js") %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4><%= I18n.t('cama_autocomplete.views.admin.index.panel_title') %></h4>
    </div>
    <div class="panel-body">
        <p><%= I18n.t('cama_autocomplete.views.admin.index.panel_body') %></p>
    </div>
</div>